<div class="block block--dark footer">
  <div class="container grid footer__sections">
    <section class="collapsible collapsible--expanded footer__section">
      <header class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">products</h2>
        <svg class="icon icon--white collapsible__chevron">
          <use xlink:href="images/sprite.svg#chevron"></use>
        </svg>
      </header>
      <div class="collapsible__content">
        <ul class="list">
          <a href="#">
            <li>WordPress Hosting</li>
          </a>
          <a href="#">
            <li>Free Automated WordPress</li>
          </a>
          <a href="#">
            <li>Migrations</li>
          </a>
          <a href="#">
            <li>Domain Names</li>
          </a>
          <a href="#">
            <li>Monthly Web Hosting</li>
          </a>
        </ul>
      </div>
    </section>
    <section class="collapsible footer__section">
      <header class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">company</h2>
        <svg class="icon icon--white collapsible__chevron">
          <use xlink:href="images/sprite.svg#chevron"></use>
        </svg>
      </header>
      <div class="collapsible__content">
        <ul class="list">
          <a href="#">
            <li>About</li>
          </a>
          <a href="#">
            <li>Affiliates</li>
          </a>
          <a href="#">
            <li>Blog</li>
          </a>
          <a href="#">
            <li>Carreers</li>
          </a>
          <a href="#">
            <li>Community</li>
          </a>
          <a href="#">
            <li>News</li>
          </a>
          <a href="#">
            <li>Green Hosting</li>
          </a>
        </ul>
      </div>
    </section>
    <section class="collapsible footer__section">
      <header class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">support</h2>
        <svg class="icon icon--white collapsible__chevron">
          <use xlink:href="images/sprite.svg#chevron"></use>
        </svg>
      </header>
      <div class="collapsible__content">
        <ul class="list">
          <a href="#">
            <li>Contact</li>
          </a>
          <a href="#">
            <li>Knowledge Base</li>
          </a>
          <a href="#">
            <li>Forums</li>
          </a>
          <a href="#">
            <li>System Status</li>
          </a>
          <a href="#">
            <li>Web Hosting</li>
          </a>
          <a href="#">
            <li>DreamCompute</li>
          </a>
        </ul>
      </div>
    </section>
    <section class="collapsible footer__section">
      <header class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">Domains</h2>
        <svg class="icon icon--white collapsible__chevron">
          <use xlink:href="images/sprite.svg#chevron"></use>
        </svg>
      </header>
      <div class="collapsible__content">
        <ul class="list">
          <a href="#">
            <li>Domain Checker</li>
          </a>
          <a href="#">
            <li>Domain Transfer</li>
          </a>
          <a href="#">
            <li>Free Domain</li>
          </a>
          <a href="#">
            <li>XYZ Domain</li>
          </a>
          <a href="#">
            <li>Cheap SSL Certificate</li>
          </a>
          <a href="#">
            <li>DreamCompute</li>
          </a>
        </ul>
      </div>
    </section>
    <section class="footer__brand">
      <img src="images/logo.svg" alt="brand" />
      <p class="footer__copyright">Copyright 2020 mosh</p>
    </section>
  </div>
</div>
