<blockquote class="quote">
  <p class="quote__text">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Obcaecati vitae
    voluptates similique nisi, accusamus facilis soluta quibusdam. Architecto
    ratione ullam, illum modi animi similique culpa ipsum odio. Nihil,
    architecto quos?
  </p>
  <footer>
    <div class="media">
      <div class="media__image">
        <svg class="icon icon--primary quote__line">
          <use xlink:href="images/sprite.svg#line"></use>
        </svg>
      </div>
      <div class="media__body">
        <h3 class="media__title quote__author">Jhone Lumeno</h3>
        <p class="quote__organization">ABC Company ceo</p>
      </div>
    </div>
  </footer>
</blockquote>
